
<ion-header>
  <ion-navbar color="navgreen"  no-margin>
    <button ion-button menuToggle no-margin>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title   >Team members</ion-title>

    <ion-buttons end style="margin-right: 15%; " >
      <button ion-button   large outline color="white" (click)="deleteAll()" *ngIf='delete' padding >
        ALL
        </button>
    <button ion-button   large     color="white"   (click)="enableDelete()"    >
       <ion-icon  large  name="close-circle"    ></ion-icon>
     </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content  >


<ion-list *ngIf='users'  >

  <ion-card *ngFor="let user of users"   >

 <ion-row>

   <ion-col start  no-margin no-padding>

    <ion-item  style="height : 100%;" (click)="accessProfile(user)">

      <ion-avatar item-start >
        <img src="{{ projectProvider.users[user].pictureUrl }}">   <!-- user.pictureUrl -->
      </ion-avatar>
      <strong>{{ projectProvider.users[user].fullname }}</strong>   <!-- user.fullname -->
      <h4>{{ projectProvider.users[user].job }}</h4>    <!-- user.job -->


    </ion-item>
    </ion-col >
   <ion-col end  margin-top margin-bottom no-padding margin-right no-margin-left >
       <ion-buttons end no-margin no-padding >
    <button ion-button  clear     no-margin no-padding large  color="lightwhite" (click)="chatWithMember(user)" *ngIf='!delete'  >
  <ion-icon name="chatbubbles"    color="green"></ion-icon>
    </button>
    <button ion-button  clear     no-margin no-padding large color="lightwhite"  (click)="deleteMember(user)"  *ngIf='delete' >
  <ion-icon name="close-circle"    color="danger"  ></ion-icon>
    </button>
    </ion-buttons>
</ion-col>
     </ion-row>
  </ion-card>

 </ion-list >

<ion-item *ngIf='noTeam' >
<h2>Sorry <br>You have no Team yet</h2>
 </ion-item>

</ion-content>

<style media="screen">
ion-content{
background : #10C488;

}
ion-card{
  margin : auto;
  margin-top : 10px;
  border-radius : 40px;
}





</style>
