
<ion-header>
  <ion-navbar color="navgreen"  no-margin>
    <button ion-button menuToggle no-margin>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Notifications</ion-title>

    <ion-buttons end style="margin-right: 15%; " >
      <button ion-button   large outline color="white" (click)="deleteAll()" *ngIf='delete' padding >
        ALL
        </button>
    <button ion-button   large     color="white"   (click)="enableDelete()"    >
       <ion-icon  large  name="close-circle"    ></ion-icon>
     </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

<ion-list *ngIf='notifs' >

  <ion-card    *ngFor="let notif of notifs"  >

     <ion-row no-padding   >
       <ion-col start  no-margin no-padding  col-10>
        <ion-item (click)="accessProfile(notif)">
          <ion-avatar item-start >
            <img src="{{ projectProvider.users[notif.notifRef].pictureUrl }}">
          </ion-avatar>
          <strong>{{ projectProvider.users[notif.notifRef].fullname }}</strong>  <!-- user[notif.notifRef].fullName -->
          <h5>{{ projectProvider.users[notif.notifRef].job }}</h5>     <!-- user[notif.notifRef].profession -->
          <h2 *ngIf="notif.notifObject=='donation'" >{{notif.notifObject}} {{notif.donation}} $ </h2>      <!-- *ngIf="notif.profilname=='join'" -->
          <h2 *ngIf="notif.notifObject=='join'" >{{notif.notifObject}} </h2>
        </ion-item>
        </ion-col >
       <ion-col end  margin-top margin-bottom no-padding margin-right no-margin-left >
           <ion-buttons end no-margin no-padding large >
        <button ion-button  clear     no-margin no-padding large  color="lightwhite" (click)="addToTeam(notif)" *ngIf="!delete&&notif.notifObject=='join'" >  <!-- *ngIf="!delete&&notif.notifObject=='join' "-->
      <ion-icon name="add-circle"   large color="green"></ion-icon>
        </button>
        <button ion-button  clear     no-margin no-padding large  color="lightwhite"  (click)="deleteNotif(notif)"  *ngIf='delete' >
      <ion-icon name="close-circle"  large  color="danger"  ></ion-icon>
        </button>
        </ion-buttons>
    </ion-col>
         </ion-row>


  </ion-card>



 </ion-list >

<ion-item *ngIf='noNotif' >
<h2>Sorry <br>You have no Notifications yet</h2>
 </ion-item>




 <style media="screen">

   ion-content{
   background : #10C488;

   }
   ion-card{
     margin : auto;
     margin-top : 10px;
     border-radius : 40px;
   }


 </style>
