<!-- <ion-list>
    <ion-item-sliding *ngFor="let country of countries">
      <ion-item>
        <ion-card>
            <img [src]="urlImg" (click)="show()" />
            <ion-fab right bottom>
                <button ion-fab (click)="edit()">
                <ion-icon name="brush"></ion-icon>
              </button>
              </ion-fab>
              <div class="card-title">Amsterdam</div>

        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


  <ion-searchbar
   [(ngModel)]="projectProvider.searchTerm"
   (ionInput)="projectProvider.setFilteredItems()"
   [showCancelButton]="true"
(ionClear)="projectProvider.onCancel($event)"
(ionCancel)="projectProvider.onCancel($event)"
>
  </ion-searchbar>
  <ion-row style="padding-right:20%;padding-left:4%;" >

    </ion-row>


      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
  <ion-icon name='heart-outline' color="green"></ion-icon>
 -->
<ion-header>
  <ion-navbar color="navgreen"  no-margin   >
    <button ion-button menuToggle no-margin>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title style="margin-right:5%"  >Technology</ion-title>

    <ion-buttons end style="margin-right: 10%; " >
    <button ion-button   large  color="white" (click)="navigateFilter()"   >

      <ion-icon name='options' color="white" ></ion-icon>

    </button>
    <button ion-button   large     color="white"   (click)="openSearchBox()"    >

      <ion-icon large   name="search" *ngIf='!showSearch' ></ion-icon>
      <ion-icon  large  name="close-circle" *ngIf='showSearch'  ></ion-icon>

    </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content class="cards-bg social-cards"  #myContent   >
  <ion-searchbar [(ngModel)]="terms"  *ngIf='showSearch' placeholder="Search anything"></ion-searchbar>



<ion-list *ngIf='projectProvider.projects && projectProvider.users'  >

  <ion-card  *ngFor="let project of projectProvider.projects | search : terms : showSearch" >

    <ion-item >
      <ion-avatar item-start>
        <img src="{{ users[project.userId].profilepic }}">
      </ion-avatar>
      <h2>{{ project.profilname }}</h2>
      <p>{{ project.time }}</p>
    </ion-item>

    <img src="{{ project.projectpic }}">

    <ion-card-content>
      <strong>{{ project.projectname }}</strong>
      <h4>{{ project.description }}</h4>
    </ion-card-content>

    <ion-row  padding   >
      <ion-col  no-margin no-padding >
        <button ion-button  clear   center align-self-center  small icon-start color="lightwhite"  (click)="projectProvider.likeProject(project)" no-margin  style="font-size : 0.85em;" >
      <ion-icon [name]="projectProvider.likeState[project.id]=='liked' ? 'heart' : 'heart-outline'"   [@heart]="projectProvider.likeState[project.id]"   color="green"></ion-icon>
         {{ project.likes }} Likes
        </button>
      </ion-col>

        <!--
      -->
        <ion-col center align-self-center no-margin  padding >
          <button ion-button color="lightwhite"   clear small icon-start no-margin no-padding  style="font-size : 0.85em;" >
            <ion-icon name='eye' color="green"></ion-icon>
            {{ project.views }} views
          </button>
       </ion-col>


      <ion-col no-margin no-padding >
        <button ion-button  clear  float-center  small icon-start color="lightwhite" no-margin no-padding  style="font-size : 0.85em;" >
          <ion-icon name='text'   color="green"></ion-icon>
          {{ project.comments }} Comments
        </button>
      </ion-col>

    </ion-row>

<ion-row padding>
  <ion-col >
   <button *ngFor="let tag of project.tags" large style="margin : 2%;padding : 1.8%;border-radius :8px;"  >
     {{ tag }}
    </button>
    </ion-col>
</ion-row>
  </ion-card>



 </ion-list >

 <ion-fab bottom right margin-right="10px;"  (click)="projectProvider.addProject()"  >
    <button ion-fab color="green"><ion-icon name='add'  ></ion-icon></button>
  </ion-fab>

    <ion-list *ngIf='!projectProvider.projects'    >
     <ion-item *ngFor="let fake of fakeUsers" class="fakeItem" style="background : #10C488;">

       <h2></h2>
       <h3></h3>
       <p></p>
     </ion-item>
   </ion-list>

</ion-content>


<style media="screen">
ion-card{
border-radius: 20px;

}
ion-content {
background : #10C488;
}

</style>
