<!-- <ion-list>
    <ion-item-sliding *ngFor="let country of countries">
      <ion-item>
        <ion-card>
            <img [src]="urlImg" (click)="show()" />
            <ion-fab right bottom>
                <button ion-fab (click)="edit()">
                <ion-icon name="brush"></ion-icon>
              </button>
              </ion-fab>
              <div class="card-title">Amsterdam</div>

        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


  <ion-searchbar
   [(ngModel)]="projectProvider.searchTerm"
   (ionInput)="projectProvider.setFilteredItems()"
   [showCancelButton]="true"
(ionClear)="projectProvider.onCancel($event)"
(ionCancel)="projectProvider.onCancel($event)"
>
  </ion-searchbar>
  <ion-row style="padding-right:20%;padding-left:4%;" >

    </ion-row>


      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
  <ion-icon name='heart-outline' color="green"></ion-icon>
 -->
<ion-header>
  <ion-navbar color="navgreen"  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title style="margin-right:10%" >Technology</ion-title>

    <ion-buttons end style="margin-right: 15%; " >
    <button ion-button   large  color="white" (click)="navigateFilter()"   >

      <ion-icon name='funnel' color="white" style="font-size :2.3em;"></ion-icon>

    </button>
    <button ion-button   large     color="white"   (click)="openSearchBox()"    >

      <ion-icon large   name="search" *ngIf='!showSearch' style="font-size :2.3em;"></ion-icon>
      <ion-icon  large  name="close-circle" *ngIf='showSearch' style="font-size :2.3em;" ></ion-icon>

    </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content class="cards-bg social-cards"  #myContent  >
  <ion-searchbar [(ngModel)]="terms"  *ngIf='showSearch' placeholder="Search by project or tag name"></ion-searchbar>



<ion-list *ngIf='projectProvider.projects' >

  <ion-card  *ngFor="let project of projectProvider.projects | search : terms : showSearch"  >

    <ion-item>
      <ion-avatar item-start>
        <img src="{{ project.profilepic }}">
      </ion-avatar>
      <h2>{{ project.profilname }}</h2>
      <p>{{ project.time }}</p>
    </ion-item>

    <img src="{{ project.projectpic }}">

    <ion-card-content>
      <strong>{{ project.projectname }}</strong>
      <h4>{{ project.description }}</h4>
    </ion-card-content>

    <ion-row padding >
      <ion-col   >
        <button ion-button  clear     small icon-start color="lightwhite"  (click)="projectProvider.likeProject(project)" no-margin no-padding>
      <ion-icon [name]="projectProvider.likesArr[project.id] ? 'heart' : 'heart-outline'"  color="green"></ion-icon>

             {{ project.likes }} Likes
        </button>
      </ion-col>

        <!--
      -->
        <ion-col center align-self-center >
          <button ion-button color="lightwhite"    clear small icon-start no-margin no-padding   >
            <ion-icon name='eye' color="green"></ion-icon>
            {{ project.views }} views
          </button>
       </ion-col>


      <ion-col      >
        <button ion-button  clear    small icon-start color="lightwhite" no-margin no-padding >
          <ion-icon name='text' no-margin no-margin  color="green"></ion-icon>
          {{ project.comments }} Comments
        </button>
      </ion-col>
    </ion-row>
<ion-row padding>
  <ion-col >
   <button *ngFor="let tag of project.tags" large style="margin : 2%;padding : 1.8%;border-radius :8px;"  >
     {{ tag }}
    </button>
    </ion-col>
</ion-row>
  </ion-card>



 </ion-list >

 <ion-fab bottom right margin-right="10px;"  (click)="projectProvider.addProject()"  >
    <button ion-fab color="green"><ion-icon name='add'  ></ion-icon></button>
  </ion-fab>

    <ion-list *ngIf='!projectProvider.projects' >
     <ion-item *ngFor="let fake of fakeUsers" class="fakeItem">
       <h2></h2>
       <h3></h3>
       <p></p>
     </ion-item>
   </ion-list>

</ion-content>

 
