<ion-content style="background: #eee;">

  <ion-header no-border transparent>
    <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-start>
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <div class="profile-image"></div>

  <div class="chat-list-wrap grid-view">
    <ion-list>
      <ion-item>
        <img src="{{ user?.pictureUrl }}">
        <div class="chat-list-title">{{ user?.fullname }}</div>
        <div class="chat-list-sub-title">{{ user?.about }}</div>
        <div class="chat-list-price"><strong>52 followers</strong></div>
        <!-- to implement :: check whether edit mode is permitted -->
        <div class="chat-list-discount" (click)="changePicture()">Edit </div>
      </ion-item>
    </ion-list>

    <ion-segment [(ngModel)]="profile">
      <ion-segment-button value="projects" ac>
        Projects
      </ion-segment-button>
      <ion-segment-button value="msg">
        Messages
      </ion-segment-button>
      <ion-segment-button value="account">
        Account
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]='profile'>
    <div style="margin-top: -32px" *ngSwitchCase="'projects'">
      <h5>FEATURED <ion-badge style="float:right">NEW</ion-badge>
      </h5>
      <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img src="{{ featuredProjects?.author.pictureUrl }}">
          </ion-avatar>
          <h2>{{ featuredProjects?.author.fullname }}</h2>
          <p>{{ featuredProjects?.timestamp }}</p>
        </ion-item>

        <img src="{{ featuredProjects?.images[0] }}">

        <ion-card-content>
          <p>{{ featuredProjects?.summary }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon class="fix-icon"><img src="{{ featuredProjects?.comments[0].from.pictureUrl }}">
              </ion-icon>
              <ion-icon class="left-icon"><img src="{{ featuredProjects?.comments[1].from.pictureUrl }}">
              </ion-icon>
              <ion-icon class="right-icon"><img src="{{ featuredProjects?.comments[2].from.pictureUrl }}">
              </ion-icon>
              <div>{{ featuredProjects?.commentsCount }}</div>
            </button>
          </ion-col>
          <button ion-button icon-end clear small>
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </ion-row>
      </ion-card>
      <ion-label class="link-launcher" (click)="showMore()">
        {{ featuredProjects }} others more
        <ion-icon name="arrow-dropdown"></ion-icon>
      </ion-label>

      <h5>LATEST</h5>
      <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img src="{{ featuredProjects?.author.pictureUrl }}">
          </ion-avatar>
          <h2>{{ latestProjects?.author.fullname }}</h2>
          <p>{{ latestProjects?.timestamp }}</p>
        </ion-item>

        <img src="{{ featuredProjects?.images[0] }}">

        <ion-card-content>
          <p>{{ latestProjects?.summary }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon class="fix-icon"><img src="{{ latestProjects?.comments[0].from.pictureUrl }}">
              </ion-icon>
              <ion-icon class="left-icon"><img src="{{ latestProjects?.comments[1].from.pictureUrl }}">
              </ion-icon>
              <ion-icon class="right-icon"><img src="{{ latestProjects?.comments[2].from.pictureUrl }}">
              </ion-icon>
              <div>{{ latestProjects?.commentsCount }}</div>
            </button>
          </ion-col>
          <button ion-button icon-end clear small>
            <ion-icon name="heart"></ion-icon>
          </button>
        </ion-row>
      </ion-card>
      <ion-label class="link-launcher" (click)="showMore()">
        {{ latestProjects }} others more
        <ion-icon name="arrow-dropdown"></ion-icon>
      </ion-label>


      <h5>ALL PROJECTS <ion-badge style="float:right">35</ion-badge>
      </h5>
      <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img src="{{ allProjects?.author.pictureUrl }}">
          </ion-avatar>
          <h2>{{ allProjects?.author.fullname }}</h2>
          <p>{{ allProjects?.timestamp }}</p>
        </ion-item>

        <img src="{{ allProjects?.images[0] }}">

        <ion-card-content>
          <p>{{ allProjects?.summary }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon class="fix-icon"><img src="{{ allProjects?.comments[0].from.pictureUrl }}">
              </ion-icon>
              <ion-icon class="left-icon"><img src="{{ allProjects?.comments[1].from.pictureUrl }}">
              </ion-icon>
              <ion-icon class="right-icon"><img src="{{ allProjects?.comments[2].from.pictureUrl }}">
              </ion-icon>
              <div>{{ allProjects?.commentsCount }}</div>
            </button>
          </ion-col>
          <button ion-button icon-end clear small>
            <ion-icon name="heart"></ion-icon>
          </button>
        </ion-row>
      </ion-card>
      <ion-label class="link-launcher" (click)="showMore()">
        Expand
        <ion-icon name="arrow-dropdown"></ion-icon>
      </ion-label>


      <h5>PORTFOLIO</h5>

      <ion-card padding full>
        <ion-note class="edit" item-end (click)="editSection('Requirements')">EDIT <ion-icon name="create"></ion-icon>
        </ion-note>

        <h4>ACADAMICS</h4>
        <p>{{ user?.academics }}</p>

        <ion-note class="edit" item-end (click)="editSection('Fixed Budget')">EDIT <ion-icon name="create"></ion-icon>
        </ion-note>

        <h4>FIELD OF INTEREST</h4>
        <p>{{ user?.fieldsOfInterset }} </p>

        <h4>AVAILABILITY</h4>
        <div>
          <button ion-item (click)="showMenu('attach')">
            <ion-icon name="clock" small item-start color="primary" class="itemfix"></ion-icon>
            {{ user?.available }}
          </button>
        </div>
        <ion-buttons class="btn-separation">
          <button ion-button outline round small (click)="showMore()">Read more</button>
        </ion-buttons>
        <button ion-item (click)="addSection()">
          <ion-icon name="add" small item-start color="primary"></ion-icon>
          <ion-icon name="arrow-forward" small item-end color="primary"></ion-icon>
          Complete profile (80%)
        </button>

      </ion-card>

      <h5>CONTACT</h5>
      <ion-list>
        <button ion-item *ngFor="let contact of user.contacts; let idx = index" (click)="showContactInfo(contact)">
          <ion-icon name="logo-{{ contact.key }}" small item-start color="primary" class="itemfix"></ion-icon>{{
          contact }}
        </button>
      </ion-list>
    </div>

    <div style="margin-top: -32px" *ngSwitchCase="'account'">
      <h5>
        PROFILE
        <ion-badge style="float:right">
          <ion-icon name="bookmark" *ngIf="user?.paymentVerified"></ion-icon> &nbsp; Payment Verified
        </ion-badge>
      </h5>
      <ion-list>
        <ion-item>
          Fullname
          <ion-note item-end>
              {{ user?.fullname }}
          </ion-note>
        </ion-item>
        <ion-item>
          Username
          <ion-note item-end>
              {{ user?.username }}
          </ion-note>
        </ion-item>
        <ion-item>
          Email
          <ion-note item-end>
              {{ user?.email }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label color="primary">
            Birthday
          </ion-label>
          <ion-datetime primary displayFormat="MMM DD YYYY" [(ngModel)]="user.birthday"></ion-datetime>
        </ion-item>
        <ion-item>
          Phone number
          <ion-note item-end style="color:#0BAAB0; text-decoration: #0BAAB0 underline">
            (+216) {{ user?.phone }}
          </ion-note>
        </ion-item>
      </ion-list>
      <h5>PICTURE</h5>
      <ion-card class="image-picker">
        <img src="assets/imgs/placeholder.jpg">
        <ion-label>Select an image</ion-label>
      </ion-card>
      <h5>ACCOUNT</h5>
      <ion-list>
        <ion-item>
          Login
          <ion-note item-end primary>
              {{ user.email }}
          </ion-note>
        </ion-item>
        <ion-item>
          Password
          <ion-note item-end primary>
            ***********
            <br />
            <button ion-button small item-end style="background:#0BAAB0">
              RESET
            </button>
          </ion-note>
        </ion-item>
        <ion-item text-wrap>  
          <ion-label>
            <h2 item-start>Security </h2>
            <p item-start>personal info available for public</p>
          </ion-label>
          <ion-toggle item-end color="primary" checked="{{ user?.isPublic }}"></ion-toggle>
        </ion-item>
      </ion-list>

      <h5>Personal Info</h5>
      <ion-list>
        <ion-item>
          Job / Education
          <ion-note item-end primary>
              {{ user?.education }}
          </ion-note>
        </ion-item>
        <ion-item>
          Location
          <ion-note item-end primary>
            <ion-icon name="navigate"></ion-icon>
            {{ user?.location }}
          </ion-note>
        </ion-item>
        <ion-item>
          Level
          <ion-note item-end>
              {{ user?.level }}
          </ion-note>
        </ion-item>
        <button ion-button full primary (click)='doLogout()'>LOGOUT</button>
      </ion-list>
    </div>
  </div>

</ion-content>