<ion-header>
  <ion-navbar>
    <ion-title>
      Image Gallery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="galleryType" color="primary">
    <ion-segment-button value="regular">
      Product
    </ion-segment-button>
    <ion-segment-button value="pinterest">
      Design
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">
    <!-- Responsive Layout with Ion Grid-->
    <ion-grid *ngSwitchCase="'regular'">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images; let idx =index">
          <div imageViewer class="image-container" [style.background-image]="imageURL(idx)"
            (click)="viewImage(image)"></div>
            <button icon-only primary small *ngIf="edit_mode" (click)="showMenu(idx)" >
              <ion-icon name="more" style="color:grey;"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- More Pinterest floating gallery style -->
    <div class="images" *ngSwitchCase="'pinterest'">
      <div class="one-image" *ngFor="let image of images; let idx = index" (click)="viewImage(image)">
        <img src="{{image}}">
        <button icon-only primary small *ngIf="edit_mode" (click)="showMenu(idx)" >
            <ion-icon name="more" style="color:grey;"></ion-icon>
          </button>
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </div>
</ion-content>